---
import HomeInput from "../components/HomeInput.astro";
import Logo from "../components/Logo.astro";
import Base from "../layouts/Base.astro";
---

<Base>
	<main class="m-auto grid place-items-center min-h-screen">
		<div class="grid gap-8">
			<Logo />
			<h1 class="sr-only">Hey astro!</h1>
			<HomeInput />
		</div>
	</main>
</Base>
