---
import Logo from "../../components/Logo.astro";
import Base from "../../layouts/Base.astro";
import Router from './_parts/router';
---

<Base>
  <header class="p-4">
    <Logo />
  </header>
  <main class="max-w-prose m-auto bg-white p-5">
    <h1 class="text-center text-2xl mb-12">How can we tell you about your number,<br/>when we don't <span class="text-purple-700 font-bold">even</span> know you!</h1>
    <Router client:load />
  </main>
  <div class="bg-slate-100 fixed -z-10 inset-0 top-1/4"></div>
</Base>

<style>
  header :global(svg) {
    height: 3rem;
    width: auto;
  }
</style>