---
import Logo from "../../components/Logo.astro";
import Base from "../../layouts/Base.astro";
import Router from './_parts/router';
---

<Base>
  <div class="p-4 heading">
    <Logo />
  </div>
  <div class="max-w-form m-auto bg-white p-4 pb-12 sm:pb-16 sm:p-12 mb-16 rounded-md">
    <Router client:load ssrRoute={Astro.url.pathname}>
      <h1 slot="headerChildren" class="text-center text-xl mb-16">How can we tell you about your number,<br/>when we don't <span class="text-purple-700 font-bold">even</span> know you!</h1>
    </Router>
  </div>
  <div class="bg-slate-100 fixed -z-10 inset-0 top-1/4"></div>
</Base>

<style>
  .heading :global(svg) {
    height: 3rem;
    width: auto;
  }
</style>